---
---
@import "{{ site.theme }}";
header {
    h1 {
        text-align: center;
    }
    img {
        border-radius: 50%;
    }
    p {
        text-align: center;
        font-size: 20px;
    }
    p.view {
        text-align: center;
        font-size: 18px;
    }
}
